@import url('./variables.css');
@import url('./normalize.css');
@import url('./scroll.css');
@import 'tailwindcss';

@theme {
  --font-unbounded: var(--font-unbounded);
  --font-geist: var(--font-geist);

  --color-custom-white-000: #f8fafd;
  --color-custom-white-100: #f0f4f9;
  --color-custom-white-200: #ecf0f6;

  --color-custom-grey-000: #dfe6ef;
  --color-custom-grey-100: #cedae2;
  --color-custom-grey-200: #bdc6c8;
  --color-custom-grey-300: #60758f;

  --color-custom-brand-000: #4d7277;
  --color-custom-brand-100: #006b5b;
  --color-custom-brand-200: #004539;

  --color-custom-black-000: #142c36;
  --color-custom-black-100: #101719;

  --color-custom-shadow-000: #edf1f6;

  --color-success: #00b195;
  --color-error: #e53935;
  --color-warning: #ff7b16;
  --color-system: #005ef6;

  --breakpoint-1_5lg: 73.75rem; /* 1180px */
  --breakpoint-1_5xl: 90rem; /* 1440px */
}

::selection {
  background: #004539;
  color: #edf1f6; /* цвет текста при выделении */
}

::-moz-selection {
  /* для Firefox */
  background: #004539;
  color: #edf1f6;
}

:root {
  --ping-size: 96px;
  --ping-color: #ff4d6d;
}

/*  */

.ping {
  animation: ping-no-opacity 2.3s cubic-bezier(0.17, 0.84, 0.44, 1) infinite;
}

@keyframes ping-no-opacity {
  0% {
    transform: scale(0.97);
    box-shadow: 0 0 0 0 #63bcae;
  }
  30%,
  40%,
  50%,
  60%,
  70% {
    transform: scale(1.03);
    box-shadow: 0 2px 4px 2px #63bcae;
  }
  100% {
    transform: scale(0.97);
    box-shadow: 0 0 0 0 #63bcae;
  }
}

.glow-animate {
  animation: glow-pulse 2s ease-in-out infinite;
}

@keyframes glow-pulse {
  0% {
    box-shadow: 0 0 8px 2px #63bcae;
  }
  50% {
    box-shadow: 0 0 40px 2px #63bcae;
  }
  100% {
    box-shadow: 0 0 8px 2px #63bcae;
  }
}

.ping.glow-animate {
  animation:
    ping-no-opacity 2.3s cubic-bezier(0.17, 0.84, 0.44, 1) infinite,
    glow-pulse 2s ease-in-out infinite;
}
